body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  user-select: none;
  color: white;
}

canvas {
  background: #88ccee;
  border: 3px solid #444;
  display: block;
}
